<div class="row mt-4">
  <div class="col-md-6">
    <h3>Update Blog:</h3>
    <form class="new-blog-form">
      <div class="form-group">
        <label class="mt-2" for="blog-name">Blog name:</label>
        <input type="text" class="form-control mt-2 mb-4" id="blog-name" name="blog-name"/>
      </div>

      <div class="form-group">
        <label for="blog-desc">Blog text:</label>
        <textarea class="form-control mt-2 mb-3" id="blog-desc" name="blog-desc" rows="3"></textarea>
      </div>
    
      <div class="form-group">
        <button type="submit" class="btn btn-primary mb-4">Create</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/update-blog.js"></script>